header {
    background-color: rgb(164, 55, 65);
}

@media (max-width: calc(1333px)) {
    header nav {
        background-color: rgb(164, 55, 65);
    }
}

header nav .dropdown .dropdown-content {
    background-color: rgb(164, 55, 65);
}
header nav .dropdown .dropdown-content a {
    background-color: rgb(128, 21, 21);
}

.active {
    color: black;
}

.active header nav .dropdown .dropdown-content a {
    color: black;
}

header nav .dropdown .dropbtn {
    background-color: hsl(rgb(128, 21, 21));
}

header nav .dropdown .dropdown-content {
    background-color: rgba(164, 55, 65);
}

header nav .dropdown .dropdown-content a {
    background-color: rgb(128, 21, 21);
}
header nav .dropdown .dropdown-content {
    background-color: rgb(164, 55, 65);
}

footer {
    background-color: rgb(164, 55, 65);
}

.adminFunction.delete {
    background-color: #fa0808;
}

.adminFunction.update {
    background-color: green;
}

.adminFunction {
    background-color: #fa6908;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 18px 2px;
}
.item {
    box-shadow: 5px 10px 8px 0 rgba(0, 0, 0, 0.3);
    /* width: 50%; */
    margin: 30px auto;
    color: black;
    background-color: white;
}

/* Optional: Additional styling for the items */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50em;
    margin-left: auto;
    margin-right: auto;
}
