:root {
    --header-height: 5rem;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 125%;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

html {
    color-scheme: dark;
}

table {
    display: flexbox;
}

table,
th,
td {
    border: 1px solid white;
    text-align: center;
}
th,
td {
    padding-inline: 1em;
}

body {
    display: grid;

    min-height: 100vh;
    padding-top: var(--header-height);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

main {
    display: grid;

    gap: 2rem;
    padding-block: 2.5rem;
    padding-inline: 10%;
}

main section {
    /* border: solid blue;

  display: grid; */
    gap: 1rem;
}
/* #trumpet{
  grid-column-start: 1;
  grid-row-start: 2;
}
#trumpetText{
  grid-column-start: 2;
  grid-row-start: 2;
} */
main section {
    display: flexbox;

    align-self: center;
    text-align: center;
    gap: 1rem;
}

main section img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flexbox-item {
}

.flexbox-item img {
    width: 100px;
}
